// fonts
$font-logo: 'beynoregular';
$font-main: 'Lato', sans-serif;
$main-size: 14px;
$second-size: 16px;

// colors
$color-blue: #009dda;
$color-dgrey: #373737;
$color-lgrey: #999999;
$color-purple: #503392;
$color-yellow: #ffff00;
$color-bg: #f7f7f7;
$color-black: #232323;
