.wrap
    section.about-us#about-us
        .about-us-info
            h1.about-us-info__heading.heading <span class="about-us-info__heading_highlited">About</span> Us
            p.about-us-info__subheading Quisque fermentum, nisl mattis volutpat rhoncus, tellus est congue nibh, ut euism Nullam at scelerisque tellus mattis volutpat rhoncus
            p.about-us-info__desc Nullam at scelerisque tellus. Nulla feugiat iaculis ante, non tincidunt ligula scelerisque a. Vestibulum accumsan tincidunt odio vel finibus. Phasellus vestibulum lobortis ligula ut volutpat. Maecenas vitae nibh vel purus mollis semper. Nullam tempus feugiat mi id semper. Pellentesque ac posuere augue, vitae mollis enim. Etiam et ullamcorper dolor, a hendrerit quam. 
            .skill 
                .skill-top
                    .skill__title Photoshop
                    .skill__percent 79%
                .skill-box
                    .skill-bar.wow#photoshop
            .skill 
                .skill-top
                    .skill__title HTML/CSS
                    .skill__percent 90%
                .skill-box
                    .skill-bar.wow#html
            .skill 
                .skill-top
                    .skill__title JavaScript
                    .skill__percent 69%
                .skill-box
                    .skill-bar.wow#js
            .skill 
                .skill-top
                    .skill__title WordPress
                    .skill__percent 92%
                .skill-box
                    .skill-bar.wow#wp
        .about-us-ipad
            img(src="img/ipad.png" alt="iPad") 
