header#home
    .top-header
        .wrap
            .logo
                a(href="#").logo__link Up<span class="logo__link_highlited">Qode</span>
            .menu-btn &#9776;
            .nav
                nav.main-menu
                    ul.main-menu__list.navHighlighter
                        li.main-menu__item
                            a(href="#").main-menu__link Home
                        li.main-menu__item.main-menu__item_expand
                            a(href="#products").main-menu__link.anchor Products
                            div.menu-expand
                                ul.menu-expand__list
                                    li.menu-expand__item.menu-expand_plus
                                        a(href="#").menu-expand__link Name Surname
                                    li.menu-expand__item
                                        a(href="#").menu-expand__link Nelson Noa Chris
                                    li.menu-expand__item.menu-expand_plus
                                        a(href="#").menu-expand__link Name Surname
                                        div.menu-expand-plus
                                            ul.menu-expand-plus__list
                                                li.menu-expand__item
                                                    a(href="#").menu-expand__link Name Surname
                                                li.menu-expand__item
                                                    a(href="#").menu-expand__link Nelson Noa Chris
                                                li.menu-expand__item
                                                    a(href="#").menu-expand__link Name Surname
                                                li.menu-expand__item
                                                    a(href="#").menu-expand__link Nelson Noa 
                                                li.menu-expand__item
                                                    a(href="#").menu-expand__link Nelson Noa Chris
                                    li.menu-expand__item
                                        a(href="#").menu-expand__link Nelson Noa
                        li.main-menu__item
                            a(href="#about-us").main-menu__link.anchor About
                        li.main-menu__item
                            a(href="#contact").main-menu__link.anchor Contact
                .search
                    input(type="text").search__box
    .slider
        .slider__slide 
            img(src="img/slide.jpg").slider__img 
            .slider-caption
                h1.slider-caption__heading Creative <span class="slider-caption__heading_highlited">Design Agency</span>
                p.slider-caption__desc Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. 
        .slider__slide 
            img(src="img/slide.jpg").slider__img 
            .slider-caption
                h1.slider-caption__heading Creative <span class="slider-caption__heading_highlited">Design Agency</span>
                p.slider-caption__desc Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. 
        .slider__slide 
            img(src="img/slide.jpg").slider__img 
            .slider-caption
                h1.slider-caption__heading Creative <span class="slider-caption__heading_highlited">Design Agency</span>
                p.slider-caption__desc Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. 
