section.products#products 
    .products__heading.heading Our <span class="products__heading_highlited">products</span>
    .products-slider.wrap
        .products-slider__slide
            .products-container
                .products-single 
                    img.products-single__img(src="img/product1.png" alt="Product")
                    h2.products-single__title Title
                    strong.products-single__category Best Product
                    p.products-single__desc Duis bibendum diam non erat facilaisis en ter
                .products-single 
                    img.products-single__img(src="img/product2.png" alt="Product")
                    h2.products-single__title Title
                    strong.products-single__category Best Product
                    p.products-single__desc Duis bibendum diam non erat facilaisis en ter
                .products-single 
                    img.products-single__img(src="img/product3.png" alt="Product")
                    h2.products-single__title Title
                    strong.products-single__category Best Product
                    p.products-single__desc Duis bibendum diam non erat facilaisis en ter
                .products-single 
                    img.products-single__img(src="img/product4.png" alt="Product")
                    h2.products-single__title Title
                    strong.products-single__category Best Product
                    p.products-single__desc Duis bibendum diam non erat facilaisis en ter
                .products-single 
                    img.products-single__img(src="img/product5.png" alt="Product")
                    h2.products-single__title Title
                    strong.products-single__category Best Product
                    p.products-single__desc Duis bibendum diam non erat facilaisis en ter
                .products-single 
                    img.products-single__img(src="img/product6.png" alt="Product")
                    h2.products-single__title Title
                    strong.products-single__category Best Product
                    p.products-single__desc Duis bibendum diam non erat facilaisis en ter
        .products-slider__slide
            .products-container
                .products-single 
                    img.products-single__img(src="img/product1.png" alt="Product")
                    h2.products-single__title Title
                    strong.products-single__category Best Product
                    p.products-single__desc Duis bibendum diam non erat facilaisis en ter
                .products-single 
                    img.products-single__img(src="img/product2.png" alt="Product")
                    h2.products-single__title Title
                    strong.products-single__category Best Product
                    p.products-single__desc Duis bibendum diam non erat facilaisis en ter
                .products-single 
                    img.products-single__img(src="img/product3.png" alt="Product")
                    h2.products-single__title Title
                    strong.products-single__category Best Product
                    p.products-single__desc Duis bibendum diam non erat facilaisis en ter
                .products-single 
                    img.products-single__img(src="img/product4.png" alt="Product")
                    h2.products-single__title Title
                    strong.products-single__category Best Product
                    p.products-single__desc Duis bibendum diam non erat facilaisis en ter
                .products-single 
                    img.products-single__img(src="img/product5.png" alt="Product")
                    h2.products-single__title Title
                    strong.products-single__category Best Product
                    p.products-single__desc Duis bibendum diam non erat facilaisis en ter
                .products-single 
                    img.products-single__img(src="img/product6.png" alt="Product")
                    h2.products-single__title Title
                    strong.products-single__category Best Product
                    p.products-single__desc Duis bibendum diam non erat facilaisis en ter
        .products-slider__slide
            .products-container
                .products-single 
                    img.products-single__img(src="img/product1.png" alt="Product")
                    h2.products-single__title Title
                    strong.products-single__category Best Product
                    p.products-single__desc Duis bibendum diam non erat facilaisis en ter
                .products-single 
                    img.products-single__img(src="img/product2.png" alt="Product")
                    h2.products-single__title Title
                    strong.products-single__category Best Product
                    p.products-single__desc Duis bibendum diam non erat facilaisis en ter
                .products-single 
                    img.products-single__img(src="img/product3.png" alt="Product")
                    h2.products-single__title Title
                    strong.products-single__category Best Product
                    p.products-single__desc Duis bibendum diam non erat facilaisis en ter
                .products-single 
                    img.products-single__img(src="img/product4.png" alt="Product")
                    h2.products-single__title Title
                    strong.products-single__category Best Product
                    p.products-single__desc Duis bibendum diam non erat facilaisis en ter
                .products-single 
                    img.products-single__img(src="img/product5.png" alt="Product")
                    h2.products-single__title Title
                    strong.products-single__category Best Product
                    p.products-single__desc Duis bibendum diam non erat facilaisis en ter
                .products-single 
                    img.products-single__img(src="img/product6.png" alt="Product")
                    h2.products-single__title Title
                    strong.products-single__category Best Product
                    p.products-single__desc Duis bibendum diam non erat facilaisis en ter
